* {
    max-width: 100%;
    box-sizing: border-box;
}

.box {
    max-width: 1000px;
    margin: auto;
}

.landing,
.about,
.skills {
margin: 80px auto 80px;
}

.landing,
.about,
.skills,
.contact {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

body {
    box-sizing: border-box;
}

.header {
    grid-area: header;
}

.landing {
    grid-area: landing;
}

.about {
    grid-area: about;
}


.skills {
    grid-area: skills;
}

.contact {
    grid-area: contact;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "header"
        "landing"
        "about"
        "skills"
        "contact"
}

.header {
    display: grid;
    grid-template-columns: 6fr 1fr;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    margin-right: 15px;
    grid-gap: 15px;
}

.skillsHead {
    grid-area: skillsHead;
}

.skill-1 {
    grid-area: skill-1;
}

.skill-2 {
    grid-area: skill-2;
}

.skill-3 {
    grid-area: skill-3;
}

.skills {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "skillsHead"
        "skill-1"
        "skill-2"
        "skill-3"
}

.center {
    display: grid;
    justify-items: center;
}

.skl1-img,
.skl2-img,
.skl3-img {
    padding: 15px;
    width: 140px;
}

@media (min-width: 500px) {
    .skills {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "skillsHead skillsHead skillsHead"
            "skill-1 skill-2 skill-3";
        grid-gap: 30px;
    }

    .header-logo {
        width: 80px;
    }

    .about p,
    .skills p,
    .contact p{
        text-align: left;
    }
}