* {
    max-width: 100%;
    box-sizing: border-box;
}

.box {
    max-width: 1000px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.about,
.skills,
.projects {
margin: 80px auto 80px;
}

body {
    box-sizing: border-box;
}

.header {
    display: grid;
    grid-template-columns: 10fr 1fr;
    justify-content: space-between;
    align-items: center;
}

.skillsHead {
    grid-area: skillsHead;
}

.skill-1 {
    grid-area: skill-1;
}

.skill-2 {
    grid-area: skill-2;
}

.skill-3 {
    grid-area: skill-3;
}

.skills {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "skillsHead"
        "skill-1"
        "skill-2"
        "skill-3";
}

.skl1-img,
.skl2-img,
.skl3-img {
    padding: 15px;
    width: 140px;
}

.project-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        'projImg'
        'projdesc';
}

.project-2 {
    display: flex;
    flex-direction: column;
}

.projImgBox {
    grid-area: projImg;
    margin: 0 auto;
}

.projDesc {
    grid-area: projDesc;
}

@media only screen and (min-width: 768px) {
    .skills {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "skillsHead skillsHead skillsHead"
            "skill-1 skill-2 skill-3";
        grid-gap: 30px;
    }

    .project-1 {
        grid-template-columns: 1fr 2fr;
        grid-template-areas: 'projImg projDesc'
    }

    .project-2 {
        flex-direction: row-reverse;
    }
}