html {
    font-size: 10px;
}
ul {
    padding: 0;
}

li {
    list-style: none;
}
.top-page {

    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%23000000' fill-opacity='0.24' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E"),
        linear-gradient(110deg, #36F7B0, #1AC2F5);
    background-size: auto;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    position: relative;
}

.header {
    position: fixed;
    z-index: 1;
    transition: all ease-in-out 0.2s;
}

.header-logo {
    width: 60px;
}

nav ul li{
    color: white;
}

.nav-links a {
    text-decoration: none;
    color: inherit;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    font-weight: 800;
    letter-spacing: .15rem;
    text-shadow: 2px 2px 1px rgba(160, 160, 160, 0.5);  
}

.link-black {
    color: black !important;
    transition: all ease-in-out 0.2s;
    text-shadow: none !important;
}

.nav-links a:hover{
    color: #03789C !important;
    transition: all ease-in-out 0.2s;
}

.landing-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
}

.landing {
    color: white;
    text-shadow: 2px 2px 1px rgba(160, 160, 160, 0.5);
    animation-duration: 1s;
}

.landing h1 {
    font-size: 4rem;
    font-family: 'Staatliches', cursive;
    letter-spacing: .25rem; 
}

.landing h2 {
    font-size: 2.0rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: .1rem;
}

.landing a {
    background-color: #1AC2F5;
}

a.email-button {
    font-size: 1.2rem;
    border-radius: 35px;
    border: none;
    width: 160px;
    margin: 45px auto 35px;
    color: white;
    font-family: poppins, sans-serif;
    font-weight: 700;
    letter-spacing: .2rem;
    display: block;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    box-shadow: 0 20px 40px 0 rgba(0,0,0,0.2);
    text-shadow: none;
    transition: box-shadow 0.3s ease-in-out;
}

.email-button:hover, .projects a:hover {
    box-shadow: none;
}

.about, .skills, .contact, .projects {
    font-family: poppins,sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.05rem;
    color: rgb(22, 22, 22);
}

.about h2 {
    margin-bottom: 40px;
}

.proj1Desc h2 {
    text-align: left;
}

.contact h2 {
    margin-top: 0;
}

.about h2,
.projectHead {
    color: #1AC2F5;
}

.proj1Desc p {
    text-align: left;
}

.skills, .contact {
    padding-top: 80px;
    padding-bottom: 80px;
}

li.project-1 {
    margin-top: 40px;
}

.projects a {
    height: 45px;
    line-height: 43px;
    margin: 10px 10px;
    background-color: white;
    color: #1AC2F5;
    border: 2px #1AC2F5 solid;
    border-radius: 35px;
    width: 100px;
    display: inline-block;
    text-decoration: none;
    box-shadow: 0 16px 32px 0 rgba(0,0,0,.12);
    transition: box-shadow 0.3s ease-in-out
}

.projImgBox {
    max-height: 320px;
}

.projImgBackground {
    width: 320px;
    height: 290px;
    background: linear-gradient(110deg, #36F7B0, #1AC2F5);
    position: relative;
    top: -300px;
    z-index: -1;
    margin: auto;
    border-radius: 20px;
}

.contact-page {
    background: #1AC2F5;
}

.contact .email-button {
    background-color: #03789C;
}

.contactLinks img {
    width: 50px;
    padding-left: 5px;
    padding-right: 5px;
}

.contactLinks {
    text-align: center;
}

.skill-list {
    background: #1AC2F5;
}

.arrow {
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left:-20px;
    width: 40px;
    height: 40px;
}

.hide {
    z-index: -1;
}

.bounce {
    animation: bounce 2s infinite;
  }

.active {
    background-color: white;
}

@media only screen and (min-width: 768px){
    .header-logo {
        width: 80px;
    }

    .nav-links a {
        margin-right: 15px;
        grid-gap: 20px;
    }

    .about p,
    .skills p,
    .projects p,
    .contact p {
        text-align: left;
    }

    .projImgBox {
        margin-right: 40px;
    }

    .proj1Desc {
        margin-left: 40px;
    }

    .landing h1 {
        font-size: 6rem;
        margin: 0;
    }

    .landing h2 {
        font-size: 2.5rem;
    }

    p {
        font-size: 2rem;
    }

    .contactLinks img {
        width: 80px;
        padding-left: 20px;
        padding-right: 5px;
    }
}

@media only screen and (min-width: 1024px){

    .landing h1 {
        font-size: 8rem;
        letter-spacing: .75rem;
    }

    .landing h2 {
        font-size: 3.5rem;
    }

    a.email-button {
        width: 220px;
        height: 54px;
        line-height: 54px;
        font-size: 1.4rem;
    }

}